<div class = "stolen-frosty span6 offset3 text-center">
	<h1 class = "stolen-h1">Lesson: <%= @pic.lesson %></h1>
	<%= image_tag @pic.image %>
	<h2>I felt: <%= @pic.emotion %></h2>
	<h2>I learned: <%= @pic.learned %></h2>

	<%= link_to 'Go Back', pics_path, :class => 'btn btn-danger btn-large' %>
	<%= link_to 'Kill it', pic_path(@pic), :method => :delete, :class => 'btn btn-warning btn-large', :confirm => "Are you sure?" %>
	<%= link_to 'Edit', edit_pic_path(@pic), :class => 'btn btn-large' %>

</div>